// layout
$min-width-xs: 320px !default;
$min-width-sm: 768px !default;
$min-width-md: 1200px !default;
$min-width-lg: 1600px !default;

$container-max-lg-width: 1440px;
$container-max-md-width: 1100px;

// colors
$color-sand-dollar: #e5d7be;
$color-charcoal: #414754;
$color-gray: #82807f;
$color-mystic: #e3e8f0;

$color-light-gray: #e5e5e5;
$color-white: #fff;

// fonts
$title-font-family: 'Montserrat', sans-serif;
$default-font-family: 'Open Sans', sans-serif;

$svg-path: "assets/svg/";
